@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --back: #101010;
    --front: #FFFFFF;
    --front2: #EEEEEE;
    --grey: #637081;
}

a {
    color: var(--front);
    text-decoration: none;
}

html {
    background-color: var(--back);
    color: var(--front);
}

body {
    font-family: 'Oswald', sans-serif;
    min-width: 320px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(18, 18, 18) rgb(243, 243, 243, .2);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(40, 40, 40, .5);
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--front);
}

::selection {
    background-color: var(--front);
    color: var(--back);
}